@page
@model AnimalShelterApp.Pages.Shelters.CreateModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Shelter Create Page</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Shelters</a>
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

 
<div class="row white-bg">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                
                
                @*<div class="ibox-tools">
                     
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>*@ 
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <h3 class="m-t-none m-b">Create Shelter</h3>
                      
                        <form method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>Name</label> <input class="form-control" name="Name">
                            </div>
                            <div class="form-group">
                                <label>Description</label> <input class="form-control" name="Description">
                            </div>
                            <div class="fallback">
                                <label>File</label><input class="form-control" type="file" name="Image" multiple />
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Create</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>